table,
td {
  border: 2px solid;
  border-color: black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  padding-left: 1em;
  padding: 10px;
}

.head {
  background-color: aqua;
  text-align: center;
  height: 2em;
  font-size: 2em;
  font-style: italic;
  font-variant: small-caps;
}
